<ion-header>
  <ion-toolbar>
    <ion-title>subpage</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item><strong>This is the sub page</strong></ion-item>
    <ion-item (click)="presentModal()">Open Modal</ion-item>
    <ion-item [href]="'/tabs/(home:pagetwo)'">Page Two</ion-item>
    <ion-item (click)="openCamera()">Open Camera</ion-item>
    <ion-item (click)="openTouchId()">Open Touch ID</ion-item>
  </ion-list>
</ion-content>
